# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folder
myenv/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore VSCode settings (if using VSCode)
.vscode/

# Don't ignore requirements.txt (explicitly allowed)
!requirements.txt
